<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <header>
        <% include partials/_header %>
    </header>
    <table cellpadding="10" style="width:50%">
            
        <tr>
        </tr>
        <% for (let url in urls) { %>
        <form method="POST" action="/urls/<%= url %>/delete">
        <tr>
            <th><%= url %></th>
            <th><%= urls[url]%></th>
            <th><a href="/urls/<%= url %>"> Edit </a></th>
            <th><form><input type="submit" value="DeleteðŸ—‘ï¸" style="width:100px"></form></th>
        </tr>
        <% }; %>
    </table>
    <a style="padding:10px;word-wrap:normal;display:inline-block" href='/urls/new'>Shorten a new url</a>
    <!-- <ul> 
        <% for (let url in urls) { %>
        <form method="POST" action="/urls/<%= url %>/delete">
        <li style="padding:0.5rem"><%= url %>: <%= urls[url]%><a href="/urls/<%= url %>"> Edit </a>
        <input type="submit" value="DeleteðŸ—‘ï¸"></form></li>
        <% }; %>
    </ul>
    <a href='/urls/new'>Shorten a new url</a>
    -->
</body>
</html>