<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <style>
        div {
            margin: auto;
            text-align: center;
            width: 70%;
        }
  </style>
</head>
<body>
    <header>
        <% include partials/_header %>
    </header>
    <% if (!userObj) { %>
        <% } else { %>
        <div>
            <br>
            Short URL: <%= urls.shortURL %> <br>
            Long URL: <%= urls.longURL %> <br>
            Date Created: <%= urls.date %>
            <form method="POST" action="/urls/<%= urls.shortURL %>/">
                <input name="longURL" style="width:15%" type="text" value="<%= urls.longURL %>">
                <input type="submit" value="Update URL">
            </form>
        </div>
    <p><a href="/urls">Click here to see all shortened URLs</a></p>
    <% }; %>
</body>
</html>